/* chalkboard header */

header {
    height: 150px;
    font-size: 100px;
    text-align: center;
    background: #91CEE8;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
}

header .container img {
    max-width: auto;
     height: 150px;
}

body {
    background: #91CEE8;
}


/* Navbar and hamburger menu */
.topnav {
    padding: 10px;
    position: relative;
    background-color: #74a6bb;
    text-decoration: none;
}

.topnav i {
    font-size: 30px;
}
.list-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.list-btn:hover {
    background: #E7A800;
}







.logout-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.logout-btn:hover {
    background: #e75500;
}

.topnav i:hover {
    color: honeydew;
}

.logout {
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 10px;
    color: black;
    font-size: 20px;
}

.menuList {
    padding: 0;
    margin: 0;
    width: 20vw;
    height: 50vh;
    /* box-shadow: #555; */
    position: absolute;
    background:#F5E1AB;
    font-size: 20px;
    padding-top: 60px;
}

.menuList li {
    text-decoration: none; 
   
}

.menu-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    right: 30px;
    top: 10px;
    /* border-bottom: 1px solid #555 ; */
}

.menu-link:hover{
    background: #E7A800;
    color: white;
}


/* main grid */

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1.9fr 0.2fr;
  grid-template-rows: 0.1fr 3.1fr 0.1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". . . ."
    ". main main ."
    ". . . .";
}

.main { grid-area: main; }

.main {
    background: #C6EBF6;
    border-radius: 10px;    
}




/* Grid and styling for home page */
  html, body, .home-grid { height: 100%; margin: 0; }

  .home-grid {
    display: grid;
    grid-template-columns: 0.3fr 2.5fr 2.9fr 0.3fr;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      ". date current ."
      ". assignmentshome current ."
      ". assignmentshome current .";
  }
  
  .date { grid-area: date; }

  .date {
      background: #ECF7FB;
      margin-top: 30px;
      border-radius: 10px;
  }
  
  .assignmentshome { grid-area: assignmentshome; }

  .assignmentshome {
    background: #ECF7FB;
    margin-bottom: 30px;
    border-radius: 10px;
}

  .current { grid-area: current; }

  .current {
    background: #ECF7FB;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

    /* Styling for login page */

    html, body, .login-container { height: 100%; margin: 0; }

    .login-container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: 0.6fr 1.8fr 0.6fr;
      gap: 1px 1px;
      grid-template-areas:
        ". . . ."
        ". login login ."
        ". . . .";
    }
    
    .login { grid-area: login; }

    .login {
        background: #C6EBF6;
        text-align: center;
        border: 11px solid #D0D9F5;
        border-radius: 29px;
    }
    
    .login-logo {
        padding: 0 6px;
        float: left;
        width: 90%;
        padding-top: 5px;
    }
    
    .login-pencil {
        padding: 0 6px;
        float: left;
        width: 90%;
        padding-top: 5px;
        padding-left: 25px;
    }

    .userName {
        margin-bottom: 10px;
        border-radius: 20px;
        width: 50%;
        border: none;
    }

    .sign-in {
        border: 1px solid #000000;
        background: #97eed2;
        border-radius: 23px;
    }

    .sign-in:hover {
        background:  #33e6ad;
    }

    .sign-in:focus {
        background:  #01dd4a;
        color: white;
    }


/* Grid for adding teacher area */
    html, body, .current-container { height: 100%; margin: 0; }

.current-container {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 1.8fr 0.3fr;
  grid-template-rows: 1.5fr 0.4fr 1.1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". add-classroom add-classroom ."
    ". current-teachers current-teachers ."
    ". current-teachers current-teachers .";
}

.add-classroom { grid-area: add-classroom; }
.add-classroom {
    background: white;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
}

.current-teachers { grid-area: current-teachers; }
.current-teachers {
    background: white;
    margin-bottom: 40px;
    border-radius: 10px; 
    border: 1px solid rgb(233, 233, 233);
}


/* For presentation only, no need to copy the code below */
/* .current-container * {
  border: 1px solid red;
  position: relative;
}

.current-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */


   
/* styling and grid for assignments  */

html, body, .assignments-container { height: 100%; margin: 0; }

.assignments-container {
  display: grid;
  grid-template-columns: 0.4fr 2.3fr 3fr 0.3fr;
  grid-template-rows: 1.4fr 0.6fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". assignments assignments ."
    ". assignments assignments ."
    ". assignments assignments .";
}

.assignments { grid-area: assignments; }

.assignments {
    text-align: center;
    background: #C6EBF6;
    margin-top: 20px;
}



.assignment-container {
    background: #B8F5E2;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin-bottom: 5px;
    text-decoration: none;

/* This is css code create by Ian lunn for hover effects
https://ianlunn.github.io/Hover/#effects */
    /* display: inline-block;
    vertical-align: middle; */
    /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* -webkit-transition-property: transform;
    transition-property: transform; */
}

.assignment-container:hover, .assignment-container:focus, .assignment-container:active{
    background: #8ce0c6;
    
    /* This is css code create by Ian lunn
https://ianlunn.github.io/Hover/#effects */
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.create-btn {
    background: #F5E1DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 10px;


}

.create-btn:hover  {
    background: #f8c0b2;
}

.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  .create-container {
      background-color:rgb(220, 239, 255);
      display: flex;
      align-items: flex-end;
    justify-content: flex-end;
  }

  .create-container input {
      margin-left: 15px;
      align-self: center;
      border-radius: 5px;
      border: 1px ;
      /* justify-content: ; */
  }

  .assignment-link {
      text-decoration: none;
      color: black
      
  }

  /* styling for assignment/quiz view */

  html, body, .quiz-container { height: 100%; margin: 0; }

.quiz-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". quiz quiz ."
    ". quiz quiz ."
    ". quiz quiz .";
}

.quiz { grid-area: quiz; }

.quiz {
    background-color: #ECF7FB;
    padding-left: 20px;
    font-size: 20px;
}

.quiz h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-btn {
    border: none;
    background-color: #ffffff;
    /* border-radius: 15px; */
    width: 900px;
    height: 30px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.option-btn:hover {
    background-color: rgb(240, 240, 240);
}



  /* schedule styling and columns */
  .flex-container {
    display: flex;
    align-items: center;
    justify-items: center;
   
  }
  
  .flex-item {
    flex-grow: 1;
    height: 100px;
    background: #D0D9F5;
    margin-left: 10px;
    margin-right: 10px
  }

  .flex-item-alt {
    flex-grow: 1;
    height: 100px;
    background: #F5E1DC;
    margin-left: 10px;
    margin-right: 10px
  }

  .flex-item-alt h3{
    text-align: center;
  }

.flex-item h3 {
    text-align: center;
}
  
  /* .flex-item + .flex-item {
    margin-left: 2%;
  } */

  /* Styling and grid for grades */

  html, body, .grade-container { height: 100%; margin: 0; }

.grade-container {
  display: grid;
  grid-template-columns: 0.7fr 2.5fr 4.2fr 0.8fr;
  grid-template-rows: 1.1fr 1fr 0.9fr;
  gap: 1px 10px;
  grid-template-areas:
    ". average list-grades ."
    ". . list-grades ."
    ". . . .";
}

.average { grid-area: average; }

.average {
    background: #ECF7FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #9E9E9E;
    /* display: flex;
    align-items: left;
    justify-content: left; */
    
}

.list-grades { grid-area: list-grades; }

.list-grades {
    background: #ECF7FB;
    border: 1px solid #9E9E9E;
    border-radius: 20px;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #customers td, #customers th {
    border: 3px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    text-align: left;
    background-color: #bb83b2;
    color: white;
  }

  .grade-key {
     width: 92px;
     margin-left: 40px;
     margin-bottom: 20px;
     background-color: cornsilk;
  }

  #average-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  #average-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    width: 200px;
    background: coral;
    
  }

  #average-table tr {
      background: cornflowerblue;
  }

  
/* calender */

.fc {
    width: 1000px;
    background: rgb(255, 252, 238);
    margin-left: 150px;
    margin-bottom: 150px;
    /* margin: 50px 50px; */
    padding: 50px 50px;
    display: flex;
    border-radius: 20px;
}

.fc-daygrid-day-frame {
 background: rgb(76, 5, 131);
}

.fc-scrollgrid-sync-inner {
    background: rgb(255, 255, 255);
}

.fc .fc-col-header-cell-cushion {
    background: rgb(217, 248, 186);
    width: 130px;
}


/* styling for teacher buttons */
.teacher-assignments {
    display: flex;
  flex-wrap: wrap;
  /* flex-direction: row;
  justify-content: start; */
  /* align-items: auto;
  align-content: start; */
}

.teacher-assignments:after {
    display: block;
  content: " placeholder ";
  margin: 5px;
  flex: 999 999 auto;
} 

.teacher-assignments h4 {
    background: rgb(255, 255, 255);
    height: 30px;
}
.teacher-assignments .teacher-btn {
    background: #ECF7FB;
    width: 400px;
}

.teacher-item  {
    flex: 0 0 auto;
  margin: 20px;
  padding: 50px;
 background-color: #ECF7FB;
 border-radius: 10px;
}

.quiz-question {
    background: #ECF7FB;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: start
}

.quiz-question button {
    width: 20%;
    display: flex;
    display: flex;
    align-content: center;
    justify-content: center;
}

.quiz-item button {
    width: 10%;
    display: flex;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* .quiz-question:after {
    display: block;
    content: " placeholder ";
    margin: 9px;
    flex: 999 999 auto;
} */

.quiz-item {
    background: #e3eff3;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 60%;
    height: 200px;
}

.new-question {
    border-radius: 5px;
    border: none;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
}

.new-question:focus {
    background-color: #fffde7f8;
}

.new-option {
    border-radius: 5px;
    border: none;
    width: 20%;
    margin-left: 30px;
    margin-top: 20px;
}

.new-option:focus {
    background-color: #fffde7f8;
}

.new-answer {
    border-radius: 5px;
    border: none;
    width: 15%;
    margin-left: 30px;
    margin-top: 20px;
}

.new-answer:focus {
    background-color: #fffde7f8;
}

.save-btn {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  background: rgb(196, 248, 196);

}

.save-btn:hover {
    border: 1px solid rgb(146, 146, 146);
    background:  rgb(141, 252, 141) ;
}
.save-btn:focus {
    background: rgb(252, 148, 148);
}

.current-teachers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users-teachers {
    display: flex;
    border: 1px solid rgb(179, 177, 177);
    width: 50%;
    height: 40px;
    margin-top: 20px;
}

