/* chalkboard header */

header {
    height: 150px;
    font-size: 100px;
    text-align: center;
    background: #91CEE8;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
}

header .container img {
    max-width: auto;
     height: 150px;
}

body {
    background: #91CEE8;
}


/* Navbar and hamburger menu */
.topnav {
    padding: 10px;
    position: relative;
    background-color: #74a6bb;
    text-decoration: none;
}

.topnav i {
    font-size: 30px;
}
.list-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.list-btn:hover {
    background: #E7A800;
}







.logout-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.logout-btn:hover {
    background: #e75500;
}

.topnav i:hover {
    color: honeydew;
}

.logout {
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 10px;
    color: black;
    font-size: 20px;
}

.menuList {
    padding: 0;
    margin: 0;
    width: 20vw;
    height: 50vh;
    /* box-shadow: #555; */
    position: absolute;
    background:#F5E1AB;
    font-size: 20px;
    padding-top: 60px;
}

.menuList li {
    text-decoration: none; 
   
}

.menu-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    right: 30px;
    top: 10px;
    /* border-bottom: 1px solid #555 ; */
}

.menu-link:hover{
    background: #E7A800;
    color: white;
}


/* main grid */

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1.9fr 0.2fr;
  grid-template-rows: 0.1fr 3.1fr 0.1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". . . ."
    ". main main ."
    ". . . .";
}

.main { grid-area: main; }

.main {
    background: #C6EBF6;
    border-radius: 10px;    
}




/* Grid and styling for home page */
  html, body, .home-grid { height: 100%; margin: 0; }

  .home-grid {
    display: grid;
    grid-template-columns: 0.3fr 2.5fr 2.9fr 0.3fr;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      ". date current ."
      ". assignments current ."
      ". assignments current .";
  }
  
  .date { grid-area: date; }

  .date {
      background: #ECF7FB;
      margin-top: 30px;
  }
  
  .assignments { grid-area: assignments; }

  .assignments {
    background: #ECF7FB;
    margin-bottom: 30px;
}

  .current { grid-area: current; }

  .current {
    background: #ECF7FB;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 49px;
}

    /* Styling for login page */

    html, body, .login-container { height: 100%; margin: 0; }

    .login-container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      grid-template-rows: 0.6fr 1.8fr 0.6fr;
      gap: 1px 1px;
      grid-template-areas:
        ". . . ."
        ". login login ."
        ". . . .";
    }
    
    .login { grid-area: login; }

    .login {
        background: #C6EBF6;
        text-align: center;
        border: 11px solid #D0D9F5;
        border-radius: 29px;
    }
    
    .login-logo {
        padding: 0 6px;
        float: left;
        width: 90%;
        padding-top: 5px;
    }
    
    .login-pencil {
        padding: 0 6px;
        float: left;
        width: 90%;
        padding-top: 5px;
        padding-left: 25px;
    }

    .userName {
        margin-bottom: 10px;
        border-radius: 20px;
        width: 50%;
        border: none;
    }

    .sign-in {
        border: 1px solid #000000;
        background: #97eed2;
        border-radius: 23px;
    }

   
/* styling and grid for assignments  */

html, body, .assignments-container { height: 100%; margin: 0; }

.assignments-container {
  display: grid;
  grid-template-columns: 0.4fr 2.3fr 3fr 0.3fr;
  grid-template-rows: 1.4fr 0.6fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". assignments assignments ."
    ". assignments assignments ."
    ". assignments assignments .";
}

.assignments { grid-area: assignments; }

.assignments {
    text-align: center;
    background: #C6EBF6;
    margin-top: 20px;
}



.assignment-container {
    background: #B8F5E2;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin-bottom: 5px;
    text-decoration: none;

/* This is css code create by Ian lunn for hover effects
https://ianlunn.github.io/Hover/#effects */
    /* display: inline-block;
    vertical-align: middle; */
    /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* -webkit-transition-property: transform;
    transition-property: transform; */
}

.assignment-container:hover, .assignment-container:focus, .assignment-container:active{
    background: #8ce0c6;
    
    /* This is css code create by Ian lunn
https://ianlunn.github.io/Hover/#effects */
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.create-btn {
    background: #F5E1DC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 10px;


}

.create-btn:hover  {
    background: #f8c0b2;
}

.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  .create-container {
      background-color:rgb(220, 239, 255);
      display: flex;
      align-items: flex-end;
    justify-content: flex-end;
  }

  .create-container input {
      margin-left: 15px;
      align-self: center;
      border-radius: 5px;
      border: 1px ;
      /* justify-content: ; */
  }

  .assignment-link {
      text-decoration: none;
      color: black
      
  }

  /* styling for assignment/quiz view */

  html, body, .quiz-container { height: 100%; margin: 0; }

.quiz-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". quiz quiz ."
    ". quiz quiz ."
    ". quiz quiz .";
}

.quiz { grid-area: quiz; }

.quiz {
    background-color: #ECF7FB;
    padding-left: 20px;
    font-size: 20px;
}

.quiz h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-btn {
    border: none;
    background-color: #ffffff;
    /* border-radius: 15px; */
    width: 900px;
    height: 30px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.option-btn:hover {
    background-color: rgb(240, 240, 240);
}

/* For presentation only, no need to copy the code below */
/* .quiz-container * {
  border: 1px solid red;
  position: relative;
}

.quiz-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */



  /* schedule styling and columns */
  .flex-container {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: left;
  }
  
  .flex-item {
    flex-grow: 1;
    height: 100px;
    background: #D0D9F5;
    margin-left: 10px;
    margin-right: 10px
  }

  .flex-item-alt {
    flex-grow: 1;
    height: 100px;
    background: #F5E1DC;
    margin-left: 10px;
    margin-right: 10px
  }

  .flex-item-alt h3{
    text-align: center;
  }

.flex-item h3 {
    text-align: center;
}
  
  /* .flex-item + .flex-item {
    margin-left: 2%;
  } */

  /* Styling and grid for grades */

  html, body, .grade-container { height: 100%; margin: 0; }

.grade-container {
  display: grid;
  grid-template-columns: 0.7fr 2.5fr 4.2fr 0.8fr;
  grid-template-rows: 1.1fr 1fr 0.9fr;
  gap: 1px 10px;
  grid-template-areas:
    ". average list-grades ."
    ". . list-grades ."
    ". . . .";
}

.average { grid-area: average; }

.average {
    background: #ECF7FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid #9E9E9E;
}

.list-grades { grid-area: list-grades; }

.list-grades {
    background: #ECF7FB;
    border: 1px solid #9E9E9E;
    border-radius: 20px;
}




