/* chalkboard header */

header {
    height: 150px;
    font-size: 100px;
    text-align: center;
    background: #91CEE8;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
}

header .container img {
    max-width: auto;
     height: 150px;
}

body {
    background: #91CEE8;
}


/* Navbar and hamburger menu */
.topnav {
    padding: 10px;
    position: relative;
    background-color: #74a6bb;
    text-decoration: none;
}

.topnav i {
    font-size: 30px;
}
.list-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.list-btn:hover {
    background: #E7A800;
}

.logout-btn {
    padding: 0;
    background: #F5E1AB;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.logout-btn:hover {
    background: #e75500;
}

.topnav i:hover {
    color: honeydew;
}

.logout {
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 10px;
    color: black;
    font-size: 20px;
}

.menuList {
    padding: 0;
    margin: 0;
    width: 20vw;
    height: 50vh;
    /* box-shadow: #555; */
    position: absolute;
    background:#F5E1AB;
    font-size: 20px;
    padding-top: 60px;
}

.menuList li {
    text-decoration: none; 
   
}

.menu-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    right: 30px;
    top: 10px;
    /* border-bottom: 1px solid #555 ; */
}

.menu-link:hover{
    background: #E7A800;
    color: white;
}


/* main grid */

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1.9fr 0.2fr;
  grid-template-rows: 0.1fr 3.1fr 0.1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". . . ."
    ". main main ."
    ". . . .";
}

.main { grid-area: main; }

.main {
    background: #C6EBF6;
    border-radius: 10px;
}


/* For presentation only, no need to copy the code below */
/* .grid-container * {
  border: 1px solid red;
  position: relative;
  }

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  } */


/* Grid for home page */
  html, body, .home-grid { height: 100%; margin: 0; }

  .home-grid {
    display: grid;
    grid-template-columns: 0.3fr 2.5fr 2.9fr 0.3fr;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      ". date current ."
      ". assignments current ."
      ". assignments current .";
  }
  
  .date { grid-area: date; }
  
  .assignments { grid-area: assignments; }
  
  .current { grid-area: current; }
  
  
  /* For presentation only, no need to copy the code below */
  .home-grid * {
    border: 1px solid red;
    position: relative;
    }
  
  .home-grid *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    }

